body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  color: #02ccba;
  margin-top: 70px;
}

li {
  list-style: none;
}

header {
  height: 60px;
  background-color: #2f4f4f
}

.header-container {
  width: 1170px;
  margin: 0 auto;
  color: #fff
}

.header-left {
  float: left;
  margin-left: 60px;
  line-height: 60px;
}

.header-logo {
  height: 60px;
  width: 60px;
}

.header-right {
  float: right;
}

.header-right li {
  height: 60px;
  float: left;
  padding-right: 30px;

}

.top-wrapper span {
  font-style: italic;
  font-size: 24px;
  position: relative;
  top: -35px;
}

.middle-wrapper {
}

.middle-container {
  display: flex;
  justify-content: center;
}

.air {

}

.touch {
  display: inline-block
}

.last-container {
  display: flex;
  justify-content: center;
}

.call {
  margin-right: 120px;
}


.bottom-list {
  padding: 0px 0px;
}
